// Biến (variable)
$color_blue_100: #2a72dc;
$color_blue_200: #1d355e;
$color_yellow_100: #f9d310;
$color_white: white;
// Font-size
$fs_logo: 24px;
$fs_content: 16px;
$fs_title: 60px;
$fs_title_2: 34px;
$fs_title_3: 25px;
$fs_sub_title: 20px;

// font-weight
$fw_300: 300;
$fw_400: 400;
$fw_500: 500;
$fw_bold: bold;
