header {
  nav {
    .container {
      .navbar-brand {
        img {
          width: 80px;
          border-radius: 50%;
          filter: grayscale(30%);
        }
      }
    }
    .nav-item {
      a {
        color: white;
        font-size: 22px;
      }
      .active {
        color: white !important;
      }
    }
    .form-control {
      background: rgba(255, 255, 255, 0.55);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  }
}
.info_person {
  button {
    font-size: 14px;
    padding: 10px 10px;
  }
  table {
    th {
      background: rgba(74, 144, 226, 0.8);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      // border: 1px solid rgba(255, 255, 255, 0.18);
      color: #fff;

      .form_select {
        background: rgba(74, 144, 226, 0);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

        border: none;
        color: #fff;
        width: 10px;
        font-size: 16px;
        .select-wrapper .fa-caret-down {
          font-size: 1.5em; /* Điều chỉnh kích thước của nút icon */
        }
      }
      tbody#tbodyPerson {
        vertical-align: middle !important;
        td {
          // max-width: 200px; /* Đặt giá trị tối đa cho độ rộng của cột cuối cùng */
          overflow: hidden; /* Ẩn phần nội dung vượt quá giới hạn */
          text-overflow: ellipsis; /* Hiển thị dấu chấm (...) nếu nội dung bị ẩn */
          white-space: nowrap; /* Ngăn nội dung bị ngắt xuống hàng */
        }
      }
    }
  }
}
